<mat-toolbar>
  <mat-toolbar-row>
    <app-date-selector></app-date-selector>
  </mat-toolbar-row>
</mat-toolbar>

<mat-card>
  <mat-card-content>
    <p>Summary</p>
  </mat-card-content>
  <mat-card-actions>
    <a mat-raised-button color="primary" [routerLink]="['/']">back</a>
  </mat-card-actions>
</mat-card>

<mat-card *ngFor="let timer of getNonEmptyTimers()">
  <mat-card-header>
    <mat-card-title>{{timer.name}}</mat-card-title>
    <mat-card-subtitle>{{formatTime(timer.getFinishedTimeCountersSum(selectedDateService.selectedDate))}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    {{timer.getFinishedTimeCountersNotes(selectedDateService.selectedDate)}}
  </mat-card-content>
</mat-card>
