<mat-toolbar color="primary">
  <mat-toolbar-row>
    Settings
  </mat-toolbar-row>
</mat-toolbar>

<mat-card>
<mat-card-content>
<p>
  <mat-form-field class="example-full-width">
    <mat-label>How frequently page is beeing refreshed</mat-label>
    <input type="text" matInput name="refreshInterval" id="refreshInterval" [formControl]="refreshInterval"/>
  </mat-form-field>
</p>
<p>
  <mat-form-field class="example-full-width">
    <mat-label>After how many hours should i warn you</mat-label>
    <input type="text" matInput name="timeWarningLimit" id="timeWarningLimit" [formControl]="timeWarningLimit"/>
  </mat-form-field>
</p>
<p>
  <mat-form-field class="example-full-width">
    <mat-label>Location for export</mat-label>
    <input type="text" matInput name="location" id="location" [formControl]="location"/>
  </mat-form-field>
</p>
<p>
  <mat-form-field class="example-full-width">
    <mat-label>Rounding strategy level for 0.25</mat-label>
    <input type="text" matInput name="roundingStrategyL1" id="roundingStrategyL1" [formControl]="roundingStrategyL1"/>
  </mat-form-field>
</p>
<p>
  <mat-form-field class="example-full-width">
    <mat-label>Rounding strategy level for 0.5</mat-label>
    <input type="text" matInput name="roundingStrategyL2" id="roundingStrategyL2" [formControl]="roundingStrategyL2"/>
  </mat-form-field>
</p>
<p>
  <mat-form-field class="example-full-width">
    <mat-label>Rounding strategy level for 0.75</mat-label>
    <input type="text" matInput name="roundingStrategyL3" id="roundingStrategyL3" [formControl]="roundingStrategyL3"/>
  </mat-form-field>
</p>
<p>
  <mat-form-field class="example-full-width">
    <mat-label>Rounding strategy level for 1.0</mat-label>
    <input type="text" matInput name="roundingStrategyL4" id="roundingStrategyL4" [formControl]="roundingStrategyL4"/>
  </mat-form-field>
</p>
</mat-card-content>

<mat-card-actions>
  <a mat-raised-button color="primary" [routerLink]="['/']">back</a>
</mat-card-actions>

</mat-card>