<h1 mat-dialog-title>Add note to current timer</h1>
<div mat-dialog-content>
    <mat-form-field>
        <mat-label>note</mat-label>
        <input type="text" matInput name="newTimerNote" id="newTimerNote" [formControl]="newTimerNote"/>
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-raised-button color="primary" (click)="addNote()" >add</button>
</div>