  <form [formGroup]="periodUpdateForm">
  <mat-form-field appearance="fill">
    <mat-label>Move</mat-label>
    <mat-select name="sideSelector" id="sideSelector" formControlName="sideSelector">
      <mat-option value="START">start</mat-option>
      <mat-option value="END">end</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Direction</mat-label>
    <mat-select name="directionSelector" id="directionSelector" formControlName="directionSelector">
      <mat-option value="BACKWARD">backward</mat-option>
      <mat-option value="FORWARD">forward</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>By minutes</mat-label>
    <input matInput name="minutesAmount" id="minutesAmount" formControlName="minutesAmount" pattern="[0-9]+"/>
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="update()" [disabled]="!periodUpdateForm.valid">update</button>
  </form>
