<mat-toolbar color="primary">
  <mat-toolbar-row>
    Timer details
  </mat-toolbar-row>
</mat-toolbar>

<mat-card *ngIf="timer">

<mat-card-content>
<p>
  <mat-form-field class="example-full-width">
    <mat-label>Timer name</mat-label>
    <input type="text" matInput name="timerName" id="timerName" [formControl]="timerName"/>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Project</mat-label>
    <input type="text" matInput name="timerProject" id="timerProject" [formControl]="timerProject"/>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Subproject</mat-label>
    <input type="text" matInput name="timerSubproject" id="timerSubproject" [formControl]="timerSubproject"/>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Task</mat-label>
    <input type="text" matInput name="timerTask" id="timerTask" [formControl]="timerTask"/>
  </mat-form-field>

  <br>
  <mat-checkbox id="timerArchived" [formControl]="timerArchived">Archived</mat-checkbox>

</p>
</mat-card-content>

<mat-card-actions>
  <a mat-raised-button color="primary" [routerLink]="['/']">back</a>
</mat-card-actions>

</mat-card>

<mat-card *ngIf="timer">
<mat-card-content>
<p>Showing the last {{showLastDays}} days out of {{allDays}} possible.</p>
</mat-card-content>
</mat-card>

<mat-card *ngFor="let day of timerDays">
  <mat-card-header>
    <mat-card-title>{{day.day}}</mat-card-title>
    <mat-card-subtitle>{{day.periodList.length}} switches, {{day.getSumOfTimeStr()}} total</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>

<mat-accordion class="example-headers-align" multi>

  <mat-expansion-panel *ngFor="let period of day.periodList">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{getPeriodStart(period.start)}} - {{getPeriodEnd(period.end)}}
      </mat-panel-title>
      <mat-panel-description>
        {{getPeriodTime(period)}}
      </mat-panel-description>
    </mat-expansion-panel-header>

	<p>{{period.getNotes()}}</p>
	<p>
      <button mat-raised-button color="warn" (click)="remove(period)">remove</button>
    </p>
	<app-period [timePeriod]="period" (timePeriodChange)="updateView()"></app-period>

  </mat-expansion-panel>

</mat-accordion>
    
  </mat-card-content>
</mat-card>


<mat-card *ngIf="timer">
<mat-card-content>
<p> 
  <mat-form-field class="example-full-width">
    <mat-label>Show last</mat-label>
    <input type="text" matInput name="showLastDays" id="showLastDays" [formControl]="showLastDaysField"/>
  </mat-form-field>
  <a mat-raised-button color="primary" (click)="updateShowLastDays()">go</a>
</p>
</mat-card-content>
<mat-card-actions>
</mat-card-actions>
</mat-card>
