<mat-toolbar color="primary">
  <mat-toolbar-row>
    Export
  </mat-toolbar-row>
</mat-toolbar>

<div id="content">

<p>
  <a mat-raised-button color="primary" [routerLink]="['/']">back</a>
</p>

<p>
  <label>From:</label><br>
  <input type="date" name="dateSelectorStart" id="dateSelectorStart" [formControl]="dateSelectorStart"/>
</p>

<p>
  <label>To:</label><br>
  <input type="date" name="dateSelectorEnd" id="dateSelectorEnd" [formControl]="dateSelectorEnd"/>
</p>

<p>
  <a mat-raised-button color="primary" (click)="generateExport()">show export</a>
</p>

<pre>
{{exportDataForDateString}}
</pre>

</div>