<mat-toolbar [color]="getHeaderStyleColor()">
  <mat-toolbar-row>
    <app-date-selector></app-date-selector>
    <span class="example-spacer"></span>

    <a mat-icon-button [routerLink]="['/export']">
      <mat-icon>output</mat-icon>
    </a>

    <a mat-icon-button [routerLink]="['/settings']">
      <mat-icon>settings</mat-icon>
    </a>
  </mat-toolbar-row>
</mat-toolbar>

<div id="content">

<mat-grid-list [cols]="numberOfColumns" rowHeight="6rem">
<span *ngFor="let timer of getTimers(false)">
    <mat-grid-tile>
      <a [routerLink]="['/timer', timer.uuid]"><strong>{{timer.name}}</strong></a>
    </mat-grid-tile>
    <mat-grid-tile>
      <span>{{formatTime(timer.getFinishedTimeCountersSum(selectedDateService.selectedDate))}}</span>
    </mat-grid-tile>
    <mat-grid-tile>
    	<p *ngIf="timer.isStarted()">
        <span style="background-color: yellow;">actual: {{formatTime(timer.getCurrentTimeCounter())}}</span>
        &nbsp;
        <button mat-fab (click)="openAddNoteDialog(timer)" color="accent" >+</button>
        </p>
    </mat-grid-tile>
    <mat-grid-tile>
      <div>
        <button mat-raised-button color="primary" *ngIf="timer.isStopped()" (click)="start(timer)" [disabled]="isStartButtonDisabled()">start</button>
        <button mat-raised-button color="accent" *ngIf="timer.isStarted()" (click)="stop(timer)" >stop</button>
        <button mat-raised-button color="warn" *ngIf="timer.isEmpty()" (click)="remove(timer)" >remove</button>
      </div>
    </mat-grid-tile>
</span>
</mat-grid-list>
</div>

<mat-grid-list [cols]="numberOfColumns">

  <mat-grid-tile colspan="2">
    <mat-form-field>
      <mat-label>add timer</mat-label>
      <input type="text" matInput name="newTimerName" id="newTimerName" [formControl]="newTimerName"/>
    </mat-form-field>
  </mat-grid-tile>

  <mat-grid-tile>
    <button mat-fab (click)="addTimer()" color="primary" >+</button>
  </mat-grid-tile>

  <mat-grid-tile>
    <a mat-raised-button color="primary" [routerLink]="['/summary']" [disabled]="isSummaryButtonDisabled()"><strong>summary</strong></a>
  </mat-grid-tile>

</mat-grid-list>

<mat-divider></mat-divider>

<mat-grid-list [cols]="numberOfColumns" rowHeight="6rem">
<span *ngFor="let timer of getTimers(true)">
  <mat-grid-tile  colspan="3">
    <a [routerLink]="['/timer', timer.uuid]"><strong>{{timer.name}}</strong></a>
  </mat-grid-tile>
  <mat-grid-tile>
    (archive)
  </mat-grid-tile>  
</span>
</mat-grid-list>

